# assets
assets/hide/

# Virtual Environment
backend/.venv/
backend/.env
workers/trainer/.env

# Python cache
**/__pycache__/
*.pyc

# Logs
backend/logs/
workers/trainer/logs/
sandbox/minio/downloaded_*

# Reports
*.docx